<?xml version="1.0" encoding="utf-8"?>
<imagevault.client>
  <authentication>
    <!--Add the Client identity below (username, password)-->
    <sdkIdentity key="" secret=""/>
  </authentication>
  <!--Change the address to point to your ImageVault Core instance-->
  <imageVaultCore address="https://myimagevault.example.com:9901/"/>
  <appSettings>
    <add key="defaultMediaUrlBase" value="/imagevault/"/>
    <add key="enableClientCache" value="true"/>
  </appSettings>
</imagevault.client>
